{{>layouts/header}}
<div class="alert alert-primary" role="alert">
    이곳은 Id가 {{article.id}}인 게시글입니다.
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#article}}
        <tr>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>
<a class="btn btn-primary" href="/articles/{{article.id}}/edit">Edit</a>
<a class="btn btn-danger" href="/articles/{{article.id}}/delete">Delete</a>
<br>
<hr>
<h5>Comment</h5>
{{>layouts/footer}}