{{>layouts/header}}
<div class="alert alert-primary" role="alert">
    이곳은 Id가 {{article.id}}인 게시글입니다.
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#article}}
        <tr>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>
<a class="btn btn-primary" href="/articles/{{article.id}}/edit">Edit</a>
<a class="btn btn-danger" href="/articles/{{article.id}}/delete">Delete</a>
<br>
<hr>
<h5>Comment</h5>
<form action="/articles/comment/post" method="post">
<div class="input-group">
    <span class="input-group-text">내용 및 작성자</span>
    <input type="hidden" name="article_id" value={{article.id}}>
    <input type="text" name="commentContent" class="form-control">
    <input type="text" name="user" class="form-control">
    <button class="btn btn-secondary">댓글제출</button>
</div>
</form>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Comment</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{# comments}}
            <tr>
                <td>{{commentContent}}</a></td>
                <td>{{user}}</td>
            </tr>
        {{/comments}}
        </tbody>
    </table>
    {{^ commments}}
    {{/commments}}
</div>
{{>layouts/footer}}